<style>
    .map_and_text {
        width: 100%;
        height: 500px;
    }

    .te {
        text-align: center;
        font-family: Lob sans-serif;
        font-size: 3vh;
    }

    .inf {
        height: auto;
        text-align: center;
        background-color: #f2f2f2;
    }
</style>

<div class="map_and_text" id="map">

    <div class="te">Где найти достопримечательности
    </div>
    <div class="inf">
        <p>ИНН **** ОГРН *** © Копирование информации сайта запрещено</p>
    </div>
    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad277e4be8c1dc3bf9c69fcd4d339875d6ca1e6ebc6ec8a7191f59d0170b22bcf&amp;width=100%25&amp;height=592&amp;lang=ru_RU&amp;scroll=true"></script>
</div>