<div class="swiper slider">

    <div class="swiper-wrapper">

        <div class="swiper-slide slide slide1">
            <div class="slide__content">
                <h2>Казачий кордон</h2>
                <p>Туристическая база</p>
                <button><a class="text-btn" href="https://kazachij-kordon.ru/">Подробнее</a></button>
            </div>
        </div>

        <div class="swiper slider slider2">
            <div class="slide__content">
                <h2>Царская Усадьба</h2>
                <p>Туристическая база</p>
                <button><a class="text-btn" href="https://banya-ysadba.clients.site/">Подробнее</a></button>
            </div>
        </div>


        <div class="swiper-slide slide slide3">
            <div class="slide__content">
                <h2>Romantic</h2>
                <p>База отдыха</p>
                <button><a class="text-btn"
                           href="https://yandex.ru/maps/org/romantic/1297245741/?ll=39.983474%2C50.266164&z=16">Подробнее</a>
                </button>
            </div>
        </div>

        <div class="swiper-slide slide slide4">
            <div class="slide__content">
                <h2>База отдыха ДОН</h2>
                <p>База, дом отдыха</p>
                <button><a class="text-btn" href="https://mirturbaz.ru/russia/voronejskaya-oblast/don1">Подробнее</a>
                </button>
            </div>
        </div>

    </div>

    <div class="slider-bottom">
        <div class="slider-pagination">
            <div class="swiper-pagination"></div>
        </div>
        <div class="slider-navigation">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

</div>



