<style>
    .slide_hs0 {
        background-image: url("/media/bg_slider_history/0.webp");
        background-size: cover;
        background-position: center;
    }

    .slide_hs1 {
        background-size: cover;
        background-position: center;
        background-image: url("/media/bg_slider_history/1.webp");
    }

    .slide_hs2 {
        background-image: url("/media/bg_slider_history/2.webp");
        background-size: cover;
        background-position: center;

    }

    .slide_hs3 {
        background-image: url("/media/bg_slider_history/3.webp");
        background-size: cover;
        background-position: center;
    }

    .slide_hs4 {
        background-image: url("/media/bg_slider_history/4.webp");
        background-size: cover;
        background-position: center;
    }

    .slide_hs5 {
        background-image: url("/media/bg_slider_history/5.webp");
        background-size: cover;
        background-position: center;
    }

    .slide_hs6 {
        background-image: url("/media/bg_slider_history/6.webp");
        background-size: cover;
        background-position: center;
    }

    .slide_hs7 {
        background-image: url("/media/bg_slider_history/7.webp");
        background-size: cover;
        background-position: center;
    }
</style>

<div class="swiper slider">

    <div class="swiper-wrapper">
        <div class="swiper-slide slide slide_hs0">
        </div>
        <div class="swiper-slide slide slide_hs1">
        </div>
        <div class="swiper-slide slide slide_hs2">
        </div>
        <div class="swiper-slide slide slide_hs3">
        </div>
        <div class="swiper-slide slide slide_hs4">
        </div>
        <div class="swiper-slide slide slide_hs5">
        </div>
        <div class="swiper-slide slide slide_hs6">
        </div>
        <div class="swiper-slide slide slide_hs7">
        </div>
    </div>

    <div class="slider-bottom">
        <div class="slider-pagination">
            <div class="swiper-pagination"></div>
        </div>
        <div class="slider-navigation">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

</div>




