<section class="why_me" id="why_me">
    <div class="why_me_work_zone">
        <div class="work_zone">
            <h2>Почему мы?</h2>
            <div class="list_why_me">
                <div class="item_why_me wow animate__animated animate__fadeInLeft">
                    <div class="why_me_img">
                        <img src="/media/why_me/img.webp" alt="img">
                    </div>
                    <h2>Опытные гиды</h2>
                </div>
                <div class="item_why_me wow animate__animated animate__fadeInUpBig">
                    <div class="why_me_img">
                        <img src="/media/why_me/img_1.webp" alt="img">
                    </div>
                    <h2>Удобные автобусы</h2>
                </div>
                <div class="item_why_me wow animate__animated animate__fadeInRight">
                    <div class="why_me_img">
                        <img src="/media/why_me/img_2.webp" alt="img">
                    </div>
                    <h2>Интересные места</h2>
                </div>
            </div>
        </div>
    </div>
</section>