{% extends 'base.html' %}
{% load random %}
{% block content %}
    {% load mediapath %}

    {% include "front/main_slider.html" %}

    {% include "front/main_front_list.html" %}

    {% include "front/slider_history.html" %}

    {% include "front/block_photo.html" %}

    {% include "front/answer.html" %}

    {% include "front/main_proiz.html" %}

    {% include "front/slider_why_look.html" %}

    {% include "front/slider_why_stop.html" %}

    {% include "front/slider_why_eat.html" %}

    {% include "front/zone_relax.html" %}

    {% include "front/slider_relax_zone.html" %}

    {% include "front/feat_back.html" %}

    {% include "front/three_plus.html" %}

    {% include "front/maps.html" %}

{% endblock %}

